#                   V A Z I F A

In [426]:
import pandas as pd

In [427]:
df = pd.read_csv("example.csv")

# ---------------------------------------------------------------

## THe information of DataFrame and how many non null values ?

In [428]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40769 entries, 0 to 40768
Data columns (total 32 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   40769 non-null  int64
 1   Safety                       40769 non-null  int64
 2   yacEPA                       15867 non-null  float64
 3   Drive                        40769 non-null  int64
 4   FieldGoalDistance            902 non-null    float64
 5   airEPA                       15875 non-null  float64
 6   Field_Goal_Prob              40748 non-null  float64
 7   posteam                      38219 non-null  object
 8   Penalty.Yards                40769 non-null  int64
 9   FieldGoalResult              908 non-null    object
 10  DefTeamScore                 38019 non-null  float64
 11  Tackler2                     4943 non-null   object
 12  Away_WP_pre                  38223 non-null  float64
 13  Timeout_Indicator            40769 non-null  int64
 14  ydsnet                       40769 non-null  int64
 15  TimeSecs                     40742 non-null  float64
 16  Passer                       16696 non-null  object
 17  Touchdown                    40769 non-null  int64
 18  TwoPointConv                 53 non-null     object
 19  PassOutcome                  16751 non-null  object
 20  PlayTimeDiff                 40726 non-null  float64
 21  RushAttempt                  40769 non-null  int64
 22  Accepted.Penalty             40769 non-null  int64
 23  qtr                          40769 non-null  int64
 24  AwayTimeouts_Remaining_Post  40769 non-null  int64
 25  RunGap                       8761 non-null   object
 26  Reception                    40769 non-null  int64
 27  TimeUnder                    40769 non-null  int64
 28  Season                       40769 non-null  int64
 29  Opp_Safety_Prob              40748 non-null  float64
 30  No_Score_Prob                40748 non-null  float64
 31  Challenge.Replay             40769 non-null  int64
dtypes: float64(10), int64(15), object(7)
memory usage: 10.0+ MB

# ---------------------------------------------------------------

## The shape of our DataFrame ?

In [429]:
df.shape

(40769, 32)

## We have 40769rows and 32columns in DataFrame

# ---------------------------------------------------------------

## The head of the our DataFrame

In [430]:
df.head()

,Unnamed: 0,Safety,yacEPA,Drive,FieldGoalDistance,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,NaN,-0.588101,0.309404,TB,0,NaN,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,NaN,0.198142,OAK,0,NaN,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,NaN,0.000000,NYJ,0,NaN,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,NaN,0.402080,0.258227,CLE,0,NaN,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
4,384684,0,NaN,11,NaN,NaN,0.199771,DEN,0,NaN,...,0,2,2,end,0,10,2017,0.003453,0.170787,0

# ---------------------------------------------------------------

## The column names:

In [431]:
df.columns

Index(['Unnamed: 0', 'Safety', 'yacEPA', 'Drive', 'FieldGoalDistance',
       'airEPA', 'Field_Goal_Prob', 'posteam', 'Penalty.Yards',
       'FieldGoalResult', 'DefTeamScore', 'Tackler2', 'Away_WP_pre',
       'Timeout_Indicator', 'ydsnet', 'TimeSecs', 'Passer', 'Touchdown',
       'TwoPointConv', 'PassOutcome', 'PlayTimeDiff', 'RushAttempt',
       'Accepted.Penalty', 'qtr', 'AwayTimeouts_Remaining_Post', 'RunGap',
       'Reception', 'TimeUnder', 'Season', 'Opp_Safety_Prob', 'No_Score_Prob',
       'Challenge.Replay'],
      dtype='object')

# ---------------------------------------------------------------

## FieldGoalDistance ustunidan nechta NaN qiymat qatnashgani ?

In [432]:
df["FieldGoalDistance"].isnull().sum()

39867

In [433]:
df = df.drop('FieldGoalDistance', axis=1)

## Ushbu ustunda 40769 ta qator mavjud bo'lsa undan 39867tasi NaN qiymatlar bilan to'lgan bu ustunni tashlab yuborsak ham bo'ladi chunki 98% ma'lumot yo'q.

# ---------------------------------------------------------------

In [434]:
df.head()

,Unnamed: 0,Safety,yacEPA,Drive,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,DefTeamScore,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,-0.588101,0.309404,TB,0,NaN,10.0,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,0.198142,OAK,0,NaN,14.0,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,0.000000,NYJ,0,NaN,13.0,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,0.402080,0.258227,CLE,0,NaN,31.0,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
4,384684,0,NaN,11,NaN,0.199771,DEN,0,NaN,24.0,...,0,2,2,end,0,10,2017,0.003453,0.170787,0

# ---------------------------------------------------------------

## The number of NaN values in "Field_Goal_Prob" ?

In [435]:
df["Field_Goal_Prob"].isnull().sum()

21

## The number of NaN values in "Field_Goal_Prob" column 21 from 40679, bu foizda 0,05% tashkil qiladi.

## We can change the NaN values with median or mean (median yoki o'rta arifmetik qiymat) of other vales.

In [436]:
df['Field_Goal_Prob'].mean(), df['Field_Goal_Prob'].median()

(0.24367961032922636, 0.2306319714387671)

## Mediana bilan o'rta arifmetik bir biridan katta farq qilmas ekan istalgan bittasini NaN qiymatlarga qo'yib yuborsak bo'ladi.

In [437]:
df['Field_Goal_Prob'] = df['Field_Goal_Prob'].fillna(df['Field_Goal_Prob'].mean())
df["Field_Goal_Prob"].isnull().sum()

0

## NaN qiymatlar o'rniga qolgan qiymatlarning o'rta arifmetigini qo'yib yubordim.

# ---------------------------------------------------------------

In [438]:
df.head(3)

,Unnamed: 0,Safety,yacEPA,Drive,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,FieldGoalResult,DefTeamScore,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,-0.588101,0.309404,TB,0,NaN,10.0,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,0.198142,OAK,0,NaN,14.0,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,0.000000,NYJ,0,NaN,13.0,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0

# ---------------------------------------------------------------

## "posteam" columndagi NaN qiymatlar soni ?

In [439]:
df["posteam"].isnull().sum()

2550

In [440]:
mode_of_posteam = df['posteam'].mode().values[0]  # Den jamoasi ushbu columnni modasi ekan
df['posteam']=df['posteam'].fillna(mode_of_posteam)
df["posteam"].isnull().sum()

0

## "posteam" columnda 2550ta NaN qiymatlar mavjud ekan, bu columnda hujum qilayotgan jamoa nomi joylashgan, bu NaN qiymatlar umumiydan 6,2% ekan bu qiymatlarni o'rniga biz ushbu columnning "moda"sini qo'yishimiz mumkin, chunki ko'p hujum qilgan jamoa nomi NaN qiymat o'rnida bo'lish ektimolligi katta.

# ---------------------------------------------------------------

## "FieldGoalResult" ustunidagi NaN qiymatlar soni ?

In [441]:
df["FieldGoalResult"].isnull().sum()

39861

In [442]:
df = df.drop('FieldGoalResult', axis=1)

## "FieldGoalResult" ustunida 39861ta NaN qiymatlar bor ekan umumiy 40769tadan. Bu degani 97,7% ma'lumot yo'q . Bu columnni drop qilib yuborsak ham bo'ladi.

# ---------------------------------------------------------------

In [443]:
df

,Unnamed: 0,Safety,yacEPA,Drive,airEPA,Field_Goal_Prob,posteam,Penalty.Yards,DefTeamScore,Tackler2,...,Accepted.Penalty,qtr,AwayTimeouts_Remaining_Post,RunGap,Reception,TimeUnder,Season,Opp_Safety_Prob,No_Score_Prob,Challenge.Replay
0,244485,0,1.240299,18,-0.588101,0.309404,TB,0,10.0,NaN,...,0,3,3,NaN,1,1,2014,0.000527,0.024134,0
1,115340,0,NaN,22,NaN,0.198142,OAK,0,14.0,NaN,...,0,4,3,NaN,0,7,2011,0.001883,0.246929,0
2,68357,0,NaN,8,NaN,0.000000,NYJ,0,13.0,NaN,...,0,2,1,NaN,0,1,2010,0.000000,0.000000,0
3,368377,0,1.075660,24,0.402080,0.258227,CLE,0,31.0,NaN,...,0,4,0,NaN,1,9,2017,0.000845,0.133814,0
4,384684,0,NaN,11,NaN,0.199771,DEN,0,24.0,NaN,...,0,2,2,end,0,10,2017,0.003453,0.170787,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40764,79438,0,NaN,3,NaN,0.381506,NO,0,0.0,NaN,...,0,1,3,guard,0,3,2010,0.000021,0.005075,0
40765,398233,0,NaN,9,NaN,0.244675,DEN,0,0.0,NaN,...,0,2,3,guard,0,3,2017,0.000134,0.287528,0
40766,396466,0,NaN,8,NaN,0.147057,ATL,0,10.0,NaN,...,0,2,1,guard,0,1,2017,0.001132,0.612357,0
40767,333861,0,0.025040,14,0.280049,0.373774,IND,0,13.0,NaN,...,0,3,3,NaN,1,7,2016,0.000042,0.002641,0
40768,247608,0,-2.441755,6,1.692283,0.210732,CIN,0,3.0,NaN,...,0,1,3,NaN,0,2,2014,0.006138,0.040037,0

# ---------------------------------------------------------------

## "DefTeamScore" ustunida NaN qiymatlar soni ?

In [444]:
df["DefTeamScore"].isnull().sum()

2750

## NaN qiymatlar soni 2750ta ekan bu umumiydan 6,7% ni tashkil qiladi. Bu ustunda himoya qilayotgan jamoaning ochkolar soni berilgan.

## NaN qiymatlar o'rniga o'rta arifmetik yoki median qiymat qo'yib yuborsak bo'ladi.

In [445]:
df["DefTeamScore"].mean(), df["DefTeamScore"].median(), df["DefTeamScore"].mode()

(11.366316841579211,
 10.0,
 0    0.0
 Name: DefTeamScore, dtype: float64)

In [446]:
df['DefTeamScore'] = df['DefTeamScore'].fillna(df['DefTeamScore'].median())
df["DefTeamScore"].isnull().sum()

0

## "DefTeamScore" ustuni NaN qiymatlar o'rniga qolgan qiymatlarning medianini qo'yib yubordik.

# ---------------------------------------------------------------

## "TimeSecs" ustunidagi NaN qiymatlar soni ?

In [447]:
df["TimeSecs"].isnull().sum()

27

## Bizda "TimeSecs" ustuni o'yin boshlanishidan beri qancha vaqt o'tganini ko'rsatadi.

## Bu ustunda 27ta NaN qiymat bor ekan , bu umumiydan 0,07% tashkil qiladi , NaN qiymatlar o'rniga o'ra arifmetik yoki median qiymat qo'yib yuboramiz.

In [448]:
df["TimeSecs"].mean(), df["TimeSecs"].median(), df["TimeSecs"].mode()

(1699.549874822051,
 1800.0,
 0    1800.0
 Name: TimeSecs, dtype: float64)

In [449]:
df['TimeSecs'] = df['TimeSecs'].fillna(df['TimeSecs'].median())
df["TimeSecs"].isnull().sum()

0

## Median qiymat mode ga yaqin bo'lgani uchun median qiymatni NaN lar o'rniga qo'yib yubordim.

# ---------------------------------------------------------------

## "Passer" ustunidagi NaN qiymatlar soni ?

In [450]:
df["Passer"].isnull().sum()

24073

In [451]:
df["Passer"].head()

0    M.Glennon
1          NaN
2          NaN
3      D.Kizer
4          NaN
Name: Passer, dtype: object

In [452]:
mode_passer = df["Passer"].mode().values[0]
df["Passer"]=df["Passer"].fillna(mode_passer)
df["Passer"].isnull().sum()

0

## "Passer" ustuni pas bergan o'yinchi ismi saqlangan. Endi biz NaN qiymatlar o'rniga ushbu ustun modasini qo'yib yuborsak bo'ladi chunki ehtimolligi baland.

# ---------------------------------------------------------------

## "No_Score_Prob" ustunidagi NaN qiymatlar soni ?

In [453]:
df["No_Score_Prob"].isnull().sum()

21

## "No_Score_Prob" ustuni komandani bu oyinda hech qanday gol urolmasligining ehtimolligini saqlaydi. Ular orasida 21ta NaN qiymat mavjud ekan.

In [454]:
df["No_Score_Prob"].mean(), df["No_Score_Prob"].median(), df["No_Score_Prob"].mode()

(0.12850362468756715,
 0.024740681704098648,
 0    0.0
 Name: No_Score_Prob, dtype: float64)

In [455]:
df["No_Score_Prob"]= df["No_Score_Prob"].fillna(df["No_Score_Prob"].median())
df["No_Score_Prob"].isnull().sum()

0

## "No_Score_Prob" ustunidagi NaN qiymatlar o'rniga median qiymatni qo'yib yubordim chunki median qiyman mode ga yaqinroq ekan mean ga qaraganda.

# ---------------------------------------------------------------

## "TwoPointConv" ustunidagi Null qiymatlar soni ?

In [456]:
df["TwoPointConv"].isnull().sum()

40716

In [457]:
df = df.drop('TwoPointConv', axis=1)
df.shape

(40769, 29)

## "TwoPointConv" bu ustun ikkita gol urishga harakat qilinganmi yoki yo'qligini saqlaydi. Bu ustunda Null qiymatlar soni 40716ta ekan umumiy 40769tadan, bu degani 99,8% Null mqiymatlar bilan to'lgan ekan, drop qilib yuborsak ham bo'ladi.

# ---------------------------------------------------------------

In [458]:
df["RunGap"].isnull().sum(), df["Tackler2"].isnull().sum()

(32008, 35826)

In [459]:
df = df.drop('RunGap', axis=1)
df = df.drop('Tackler2', axis=1)
df.shape

(40769, 27)

## "RunGap" ham xuddi yuqoridagidek.

# ---------------------------------------------------------------

In [460]:
df["Opp_Safety_Prob"].isnull().sum()

21

In [461]:
df["Opp_Safety_Prob"].mean(), df["Opp_Safety_Prob"].median(), df["Opp_Safety_Prob"].mode()

(0.0024909703970792414,
 0.0009774148652909,
 0    0.0
 Name: Opp_Safety_Prob, dtype: float64)

In [462]:
df["Opp_Safety_Prob"] = df["Opp_Safety_Prob"].fillna(df["Opp_Safety_Prob"].median())
df["Opp_Safety_Prob"].isnull().sum()

0

## "Opp_Safety_Prob" ustunida ehtimolliklar berilgan ularni orasida 21ta Null qiymat bor ekan 40769tani ichida Null qiymatlarni o'rniga median qiymatni qo'yib yubordim.

# ---------------------------------------------------------------

In [463]:
df["PlayTimeDiff"].isnull().sum()

43

In [464]:
df["PlayTimeDiff"].mean(), df["PlayTimeDiff"].median(), df["PlayTimeDiff"].mode()

(20.77422285517851,
 18.0,
 0    0.0
 Name: PlayTimeDiff, dtype: float64)

In [465]:
df["PlayTimeDiff"]= df["PlayTimeDiff"].fillna(df["PlayTimeDiff"].median())
df["PlayTimeDiff"].isnull().sum()

0

## Median qiymatni qoyordim

# ---------------------------------------------------------------

In [466]:
df["yacEPA"].isnull().sum(), df["airEPA"].isnull().sum(), df["PassOutcome"].isnull().sum()

(24902, 24894, 24018)

In [467]:
df = df.drop('yacEPA', axis=1)
df = df.drop('airEPA', axis=1)
df = df.drop('PassOutcome', axis=1)
df.shape

(40769, 24)

## Yuqoridagi ustunlarni 55+% ma'lumot yo'qligi uchun drop qilib yubordim.

# ---------------------------------------------------------------

In [468]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40769 entries, 0 to 40768
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   40769 non-null  int64
 1   Safety                       40769 non-null  int64
 2   Drive                        40769 non-null  int64
 3   Field_Goal_Prob              40769 non-null  float64
 4   posteam                      40769 non-null  object
 5   Penalty.Yards                40769 non-null  int64
 6   DefTeamScore                 40769 non-null  float64
 7   Away_WP_pre                  38223 non-null  float64
 8   Timeout_Indicator            40769 non-null  int64
 9   ydsnet                       40769 non-null  int64
 10  TimeSecs                     40769 non-null  float64
 11  Passer                       40769 non-null  object
 12  Touchdown                    40769 non-null  int64
 13  PlayTimeDiff                 40769 non-null  float64
 14  RushAttempt                  40769 non-null  int64
 15  Accepted.Penalty             40769 non-null  int64
 16  qtr                          40769 non-null  int64
 17  AwayTimeouts_Remaining_Post  40769 non-null  int64
 18  Reception                    40769 non-null  int64
 19  TimeUnder                    40769 non-null  int64
 20  Season                       40769 non-null  int64
 21  Opp_Safety_Prob              40769 non-null  float64
 22  No_Score_Prob                40769 non-null  float64
 23  Challenge.Replay             40769 non-null  int64
dtypes: float64(7), int64(15), object(2)
memory usage: 7.5+ MB

## Bu yangi tozalangan Null siz DataFrame

# ---------------------------------------------------------------